
body{ 
  color: #737373;
  height: 100%;
  background: #0f1014;
  margin: 0;
  padding: 0px;
  letter-spacing: 1px;
  overflow-x:hidden; 
}
 
@import 'animated/animated'; 
@include animation(fade-in-down);
@include animation(fade-out-down);
@include animation(fade-out-right);
@include animation(slide-out-right);
@include animation(slide-out-down);
@include animation(fade-out-down-big);
@include animation(fade-out);
@import 'typhography';
@import 'button';
@import 'loader';
@import 'header';
@import 'slider';
@import 'media32';
@import 'socialNetwork.scss';

